<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Typing challenge</h1>
      <p class="has-text-centered has-text-black">{{ randomText }}</p>
      <div class="field">
        <label for="inputText"></label>
        <input
          id="inputText"
          type="text"
          class="input"
          (input)="onChangeTypingInput($any($event.target).value)"
        />
      </div>
      <div *ngIf="result" class="box has-text-centered">
        <h1 class="title">success</h1>
      </div>
    </div>
  </div>
</div>
