<div class="container p-4">
  <div class="columns is-4 p-4">
    <div class="column is-one-third box">
      <h2 class="title is-2">Password Generator</h2>
      <div class="field">
        <label class="label">Length</label>
        <div class="control">
          <!-- $event.target.value for times when  "strictTemplates":  is false -->
          <input
            class="input"
            type="text"
            placeholder="Text input"
            (input)="onlengthChanged($any($event.target).value)"
          />
        </div>
      </div>
      <div class="columns">
        <div class="column is-one-third">
          <div class="field">
            <label for="letterCheckBox" class="label">letters</label>
            <div class="control">
              <input
                id="letterCheckBox"
                type="checkbox"
                (change)="onletterIncludedChange()"
              />
            </div>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="field">
            <label for="symbolCheckBox" class="label">symbols</label>
            <div class="control">
              <input
                id="symbolCheckBox"
                type="checkbox"
                (change)="onSymbolIncludedChange()"
              />
            </div>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="field">
            <label for="numbersCheckBox" class="label">numbers</label>
            <div class="control">
              <input
                id="numbersCheckBox"
                type="checkbox"
                (change)="onNumberIncludedChange()"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <button
            [disabled]="
              !(
                length &&
                (isNumbersIncluded || isSymbolsIncluded || islettersIncluded)
              )
            "
            class="button is-primary"
            (click)="onPassGeneratorBtnClicked()"
          >
            Generate Password
          </button>
        </div>
      </div>
      <div class="columns" *ngIf="password">
        <div class="column">
          <label class="has-text-dark title-3" for="generatedPass"
            >Your password is :</label
          >
          <input
            id="generatedPass"
            class="input"
            type="text"
            [value]="password"
          />
        </div>
      </div>
    </div>
    <div class="column"></div>
  </div>
</div>
