<div class="columns my-2">
  <div class="column has-background-grey mx-3">
    <label class="has-text-white" for="">Receiver Name: </label>
    <input
      class="input"
      type="text"
      name=""
      id=""
      (input)="onNameChange($any($event.target).value)"
    />
    <div class="mx-2 has-text-white">
      titlecase : {{ nameInput | titlecase }}
    </div>
    <div class="mx-2 has-text-white">
      uppercase : {{ nameInput | uppercase }}
    </div>
    <div class="mx-2 has-text-white">
      lowecase : {{ nameInput | lowercase }}
    </div>
  </div>

  <div class="column has-background-grey mx-3">
    <label class="has-text-white" for="">Payment Date: </label>
    <input
      class="input"
      type="date"
      name=""
      id=""
      (input)="onDateChange($any($event.target).value)"
    />
    <div class="mx-2 has-text-white">
      dateType : {{ dateInput | date : "MMMM d y" }}
    </div>
    <div class="mx-2 has-text-white">
      dateType : {{ dateInput | date : "longDate" }}
    </div>
  </div>

  <div class="column has-background-grey mx-3">
    <label class="has-text-white" for="">Amount: </label>
    <input
      class="input"
      type="text"
      name=""
      id=""
      (input)="onAmountChange($any($event.target).value)"
    />
    <div class="mx-2 has-text-white">
      currency : {{ amountInput | currency }}
    </div>
    <div class="mx-2 has-text-white">
      currency : {{ amountInput | currency : "CAD" : "symbol" : "3.1-2" }}
      <!-- tip  قبل از اعشار سه رقم باشد  حداقل  -->
      <!-- tip  واجب است یک رقم اعشار بدهید و تا دو رقم اعشار قابل قبول هست  -->
    </div>
    <div class="mx-2 has-text-white">
      currency : {{ amountInput | currency : "JPY" }}
    </div>
  </div>
</div>
<div class="columns my-2">
  <div class="column has-background-grey mx-3">
    <label class="has-text-white" for="">Height: </label>
    <input
      class="input"
      type="text"
      name=""
      id=""
      (input)="onHeightChange($any($event.target).value)"
    />
    <div class="mx-2 has-text-white">
      decimal : {{ heightInput | number : "3.2-4" }}
    </div>
  </div>
  <div class="column has-background-grey mx-3">
    <div class="column has-background-grey mx-3">
      <div class="mx-2 has-text-white">json : {{ car | json }}</div>
    </div>
  </div>
  <div class="column has-background-grey mx-3">
    <div class="column has-background-grey mx-3">
      <label class="has-text-white" for="">Mile: </label>
      <input
        class="input"
        type="text"
        name=""
        id=""
        (input)="onMileChange($any($event.target).value)"
      />
      <div class="mx-2 has-text-white">
        km : {{ mileInput | convert : "km" }}
      </div>
      <!-- ?? with arguments -->
      <div class="mx-2 has-text-white">m : {{ mileInput | convert : "m" }}</div>

      <div
        *ngIf="(mileInput | convert : 'km') > 10"
        class="mx-2 has-text-white"
      >
        m : {{ mileInput | convert : "km" }}
      </div>
    </div>
  </div>
</div>
