<div class="columns">
  <div class="column has-background-grey">
    <label class="has-text-white" for="">Receiver Name: </label>
    <input
      class="input"
      type="text"
      name=""
      id=""
      (input)="onNameChange($any($event.target).value)"
    />
    <div class="mx-2 has-text-white">
      titlecase : {{ nameInput | titlecase }}
    </div>
    <div class="mx-2 has-text-white">
      uppercase : {{ nameInput | uppercase }}
    </div>
    <div class="mx-2 has-text-white">
      lowecase : {{ nameInput | lowercase }}
    </div>
  </div>

  <div class="column"></div>
</div>
