<div class="container mt-2">
  <!-- navbar-started -->
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/" alt="logo">
        <i class="fa fa-home"></i>
      </a>

      <a
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a
          class="navbar-item"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Home
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link"> More </a>

          <div class="navbar-dropdown">
            <a
              class="navbar-item"
              routerLink="/password-generator"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              Password Generator
            </a>
            <a
              class="navbar-item"
              routerLink="/card-project"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              Card Project
            </a>
            <a
              class="navbar-item"
              routerLink="/typing-challenge"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              Typing Challenge
            </a>
            <a
              class="navbar-item"
              routerLink="/pipes"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              Pipes
            </a>
            <a
              class="navbar-item"
              routerLink="/directives"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              Directives
            </a>
            <a
              class="navbar-item"
              routerLink="/semantic"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              semantic-ui
            </a>
            <a
              class="navbar-item"
              routerLink="/wiki"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              wiki
            </a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light"> Log in </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- navbar-finished -->
  <div class="mt-6">
    <router-outlet></router-outlet>
  </div>
</div>
