<div>
  <div class="box">
    <h2 class="notification is-warning">{{ images[currentPage].title }}</h2>
    <div class="box has-background-grey">
      <img
        [src]="images[currentPage].url"
        alt="paginationImg"
        class="selectDisable paginationImg"
      />
    </div>
    <!--nav-->
    <nav
      class="pagination has-background-white p-2"
      role="navigation"
      aria-label="pagination"
    >
      <a
        class="pagination-previous"
        title="This is the first page"
        [ngClass]="{
          'is-disabled': currentPage === 0,
          'pointer-event-none': currentPage === 0
        }"
        (click)="currentPage = currentPage - 1"
        >Previous</a
      >
      <a
        class="pagination-next"
        [ngClass]="{
          'is-disabled': currentPage === images.length - 1,
          'pointer-event-none': currentPage === images.length - 1
        }"
        (click)="currentPage = currentPage + 1"
        >Next page</a
      >
      <ul class="pagination-list">
        <ng-container *ngFor="let item of images; let i = index">
          <li *ngIf="checkWindowIndex(i)">
            <a
              class="pagination-link"
              [ngClass]="setIsCurrentClass(i)"
              aria-label="Page 1"
              aria-current="page"
              (click)="currentPage = i"
              >{{ i + 1 }}</a
            >
          </li>
        </ng-container>
      </ul>
    </nav>
  </div>
</div>
