/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bulma/css/bulma.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css"; /*global styles*/
@import "../node_modules/semantic-ui-css/semantic.css"; /* Global Styles*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  background-color: hsl(0, 0%, 86%);
  color: aliceblue;
}
body {
  background-color: rgb(133, 182, 183);
  background: url("./assets/images/e-mail.jpg") no-repeat center center;
  background-size: cover;
}
.main-nav {
  border-radius: 10px;
}
.email-app-active {
  color: black !important;
  background-color: gold;
}
