/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bulma/css/bulma.css";

/*global styles*/
.navbar-item.active {
  background-color: goldenrod;
  color: black;
  border-radius: 20px;
}
